@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css");
@import url("../../node_modules/@fortawesome/fontawesome-free/css/all.css");
@import url("../../node_modules/bootstrap-sweetalert/dist/sweetalert.css");
@import url("autocomplete.css");

:root{
    --main-color:#0d47a1;
    --active-color:#00C851;
    --black-color: #111;
}
/*navbar*/
nav .sidebar_opener h2{
    color:white;
}
/*sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--active-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*Views*/
#root{
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    top:75px;
    margin-bottom: 1rem;
}
#root #left_view{
    width:auto;
    min-width: 60%;
    height:100%;
}
#root #right_view{
    width:auto;
    height:100%;
    min-width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Card View*/
#root #right_view .card{
    cursor: pointer;
}
#root #right_view .card:hover{
    box-shadow: 5px 10px var(--active-color);
}
#root #right_view .card .card-body{
    padding: 0.3rem;
}
#root #right_view .card .card-body table{
    margin-bottom: 0;
}
#root #right_view .card .card-body table thead th{
    border-top: none;
    border-bottom: 1px solid black;
}
#root #right_view .card .card-footer{
    display: none;
}
#root #right_view .card .card-footer .divider{
    border-top: 1px solid black;
}
#root #right_view .card .card-footer .container i:hover{
    color:var(--active-color);
}
/*add Button*/
#btn_add{
    position: fixed;
    bottom: 2rem;
    right:2rem;
    background-color: var(--active-color);
    border-color: var(--active-color);
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
/*
Add Route view
 */
.modal .modal-body .form-row .rating{
    font-family: FontAwesome, sans-serif;
}
.modal .modal-footer #closeAddRouteView{
    background-color: var(--black-color);
}
.modal .modal-footer #save_route{
    background-color: var(--active-color);
}
@media screen and (max-width: 1050px){
    #root #left_view{
        min-width:50%;
    }
    #root #right_view{
        min-width:40%;
    }
}
@media screen and (max-width: 950px){
    #root #left_view{
        min-width:40%;
    }
    #root #right_view{
        min-width:50%;
    }
}
@media screen and (max-width: 700px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #root #left_view{
        width:100%;
        height:75%;
    }
    #root #right_view{
        width:100%;
    }
}
