:root{
    --main-color:#0d47a1;
    --active-color:#00C851;
    --black-color: #111;
}
hr {
    height: 4px;
    margin-left: 15px;
    margin-bottom:-3px;
}
.hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
/*special width*/
.w-10{
    width: 10% !important;
}
.w-90{
    width:90% !important;
}
/*margin-top*/
.mt-1vh{
    margin-top: 1vh;
}
/*interactions*/
.cursor{
    cursor: pointer;
}
/*background*/
.bg-black{
    background-color: var(--black-color);
}
.active{
    background-color: var(--active-color) !important;
    border: unset !important;
}
